@media(min-width:320px){
    .reviewflex{
        display: grid;
        text-align: center;
        
     }
     .text1{
        position: relative;
        bottom: 67%;
        width: 70%;
        left: 19%;
        color: white;
        font-size: 13px;
     
     }
     .pro, .lean, .legal, .comp{
         display: none;
     }
     .contact{
         text-align: center;
     }
     li{
         list-style: none;
     }
     .copyimg{
         width: 147px;
     }
     .copyright{
         margin: auto;
         /* justify-content: center; */
         text-align: center;
     }
     
     .reviewpic{
         padding: 1%;
        
     
     }
     .img1{
        position: relative;
        bottom: 52%;
        right: 69%;
        width: 23px;
     }
     .img2{
         position: relative;
         bottom: 246px;
         left: -64px;
     
     }
     
     .reviewimg{
         width: 80%;  
          }
     .review{
         margin: auto;
         text-align: center;
     }
     
     .reviewall{
         background-color: #F2F2F2;
         padding: 2%;
     }
     .faye, .joe, .nate{
         width: 80px;
     border-radius: 61px;
     padding: 2%;
     margin-right: 46%
     }
     
     .Footer{
         background-color: white;
         /* display: flex; */
     }

}
@media(min-width:375px){
    .reviewflex{
        display: grid;
        text-align: center;
        
     }
     .text1{
         position: relative;
         bottom: 67%;
         width: 253px;
         left: 15%;
         color: white;
         font-size: 12px;
     
     }
     .pro, .lean, .legal, .comp{
         display: none;
     }
     .contact{
         text-align: center;
     }
     li{
         list-style: none;
     }
     .copyimg{
         width: 147px;
     }
     .copyright{
         margin: auto;
         /* justify-content: center; */
         text-align: center;
     }
     
     .reviewpic{
         padding: 1%;
        
     
     }
     .img1{
        position: relative;
        bottom: 52%;
        right: 69%;
        width: 23px;
     }
     .img2{
         position: relative;
         bottom: 246px;
         left: -64px;
     
     }
     
     .reviewimg{
         width: 80%;  
          }
     .review{
         margin: auto;
         text-align: center;
     }
     
     .reviewall{
         background-color: #F2F2F2;
         padding: 2%;
     }
     .faye, .joe, .nate{
         width: 80px;
     border-radius: 61px;
     padding: 2%;
     margin-right: 46%
     }
     
     .Footer{
         background-color: white;
         /* display: flex; */
     }

}
@media(min-width:425px){
    .reviewflex{
       display: grid;
       text-align: center;
       
    }
    .text1{
        position: relative;
        bottom: 67%;
        width: 253px;
        left: 23%;
        color: white;
        font-size: 12px;
    
    }
    .pro, .lean, .legal, .comp{
        display: none;
    }
    .contact{
        text-align: center;
    }
    li{
        list-style: none;
    }
    .copyimg{
        width: 147px;
    }
    .copyright{
        margin: auto;
        /* justify-content: center; */
        text-align: center;
    }
    
    .reviewpic{
        padding: 1%;
       
    
    }
    .img1{
        position: relative;
        bottom: 54%;
        right: 60%;
        width: 23px;
    }
    .img2{
        position: relative;
        bottom: 246px;
        left: -64px;
    
    }
    
    .reviewimg{
        width: 80%;    }
    .review{
        margin: auto;
        text-align: center;
    }
    
    .reviewall{
        background-color: #F2F2F2;
        padding: 2%;
    }
    .faye, .joe, .nate{
        width: 80px;
    border-radius: 61px;
    padding: 2%;
    margin-right: 46%
    }
    
    .Footer{
        background-color: white;
        /* display: flex; */
      
       
    }

}

@media(min-width:768px){
    .reviewflex{
        display: flex;
        flex-direction: row;
        display: flexbox;
       
    }
    .text1{
        position: relative;
        /* bottom: 496px; */
        width: 90%;
        left: 21px;
        color: white;
        top: -154px;
        font-size: 12px;
    }
    .pro, .lean, .legal, .comp{
        display: none;
    }
    .contact{
        text-align: center;
    }
    li{
        list-style: none;
    }
    .copyimg{
        width: 147px;
    }
    .copyright{
        margin: auto;
        /* justify-content: center; */
        text-align: center;
    }
    
    .reviewpic{
        padding: 1%;
        width: 31%;
    
    }
    .img1{
        
        position: relative;
        position: relative;
        bottom: 121px;
        right: 78%;
        width: 15px;

    }
    .img2{
        position: relative;
        bottom: 321px;
        left: -85px;

    
    }
    
    .reviewimg{
        width: 100%;  
      }
    .review{
        margin: auto;
        text-align: center;
    }
    
    .reviewall{
        background-color: #F2F2F2;
        padding: 2%;
    }
    .faye, .joe, .nate{
        width: 55px;
        border-radius: 100%;
        padding: 2%;
    }
    
    .Footer{
        background-color: white;
        /* display: flex; */
      
       
    }

}
@media(min-width:1024px){
    .reviewflex{
        display: flex;
        flex-direction: row;
        display: flexbox; 
    }
    .text1{
        position: relative;
        width: 83%;
        left: 28px;
        color: white;
        top: -191px;
        font-size: 15px;
    }
    .pro, .lean, .legal, .comp{
        display: none;
    }
    .contact{
        text-align: center;
    }
    li{
        list-style: none;
    }
    .copyimg{
        width: 147px;
    }
    .copyright{
        margin: auto;
        /* justify-content: center; */
        text-align: center;
    }
    
    .reviewpic{
        padding: 1%;
        width: 31%;
    
    }
    .img1{
        position: relative;
        bottom: 159px;
        right: 50px;
        width: 20px;

    }
    .img2{
        position: relative;
        bottom: 321px;
        left: -85px;
    }
    
    .reviewimg{
        width: 100%;    }
    .review{
        margin: auto;
        text-align: center;
    }
    
    .reviewall{
        background-color: #F2F2F2;
        padding: 2%;
    }
    .faye, .joe, .nate{
        width: 55px;
        border-radius: 100%;
        padding: 2%;
    }
    
    .Footer{
        background-color: white;
        /* display: flex; */
      
       
    }


}


@media(min-width:1366px){
    .reviewflex{
       display: flex;       
       flex-direction: row;
       flex-wrap: wrap;
    }
    .text1{
        position: relative;
        width: 68%;
        left: 50px;
        color: white;
        top: -285px;
        font-size: 20px;
    }
    .pro {
        display: block;
       
    }
    .lean{
        display: block;
      
    }
     .legal{
        display: block;
      
     }
     .comp{
        display: block;
      
     }
     .contact{
        display: block;
        text-align: left;
        
    }
  
    li{
        list-style: none;
    }
    .copyimg{
        width: 147px;
    }
    .copyright{
        margin: auto;
        /* justify-content: center; */
        text-align: center;
    }
    
    .reviewpic{
        padding: 1%;
        width: 31%;
    
    }
    .img1{
        
        position: relative;
        bottom: 48%;
        right: 75%;
        width: 9%;

    }
    .img2{
        position: relative;
        bottom: 187px;
        left: -88px;

    
    }
    
    .reviewimg{
        width: 100%;   
     }
    .review{
        margin: auto;
        text-align: center;
    }
    
    .reviewall{
        background-color: #F2F2F2;
        padding: 2%;
    }
    .faye, .joe, .nate{
        width: 91px;
        border-radius: 100%;
        padding: 2%;
    }
    
    .Footer{
        background-color: white;
        display: flex;
        justify-content: space-around;
      
       
    }



}


@media(min-width:1440px){
    .reviewflex{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
       
       
    }
    .text1{
        position: relative;
        width: 68%;
        left: 50px;
        color: white;
        top: -285px;
        font-size: 20px;
    }
    .pro {
        display: block;
       
    }
    .lean{
        display: block;
      
    }
     .legal{
        display: block;
      
     }
     .comp{
        display: block;
      
     }
     .contact{
        display: block;
        text-align: left;
        
    }
  
    li{
        list-style: none;
    }
    .copyimg{
        width: 147px;
    }
    .copyright{
        margin: auto;
        /* justify-content: center; */
        text-align: center;
    }
    
    .reviewpic{
        padding: 1%;
        width: 31%;
    
    }
    .img1{
        
        position: relative;
        bottom: 48%;
        right: 75%;
        width: 9%;

    }
    .img2{
        position: relative;
        bottom: 187px;
        left: -88px;

    
    }
    
    .reviewimg{
        width: 100%;   
     }
    .review{
        margin: auto;
        text-align: center;
    }
    
    .reviewall{
        background-color: #F2F2F2;
        padding: 2%;
    }
    .faye, .joe, .nate{
        width: 91px;
        border-radius: 100%;
        padding: 2%;
    }
    
    .Footer{
        background-color: white;
        display: flex;
        justify-content: space-around;
      
       
    }




}