.form1 {
    width: 35%;
    background: #fbf8fd 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #000000;
    opacity: 1;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    padding-top: 2rem;
    border-radius: 5px;
  }
  .name {
    padding: 4%;
    /* border-style: solid; */
    width: 90%;
  }
  
  
  input {
    width: 100%;
    border-style: none;
  }
  
  .up {
    width: 60%;
    background-color: #7c20bf;
    border-radius: 10px;
    border-style: none;
    padding: 1%;
  }
  * {
    overflow: hidden;
  }
  a {
    text-decoration: none;
  }
  
  .individual {
    width: 30%;
    border-radius: 5px;
    border-style: none;
  }
  