@media(min-width:320px){
  .navbaar{
    top: 0px;
    left: 0px;
    height: auto;
    background: transparent linear-gradient(124deg, #7C1FBF 0%, #470A73 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .li{
  
  display: flex;
  gap: 15px;
  width: auto;
  flex-direction: column;
  }
  
  .any{
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
  }
  .log{
    
    border-style: solid;
    border-width: 0.5px;
  }
  .get{
  background-color: white;
  color:#470A73;
  }
  
  .any:hover{
    background-color: white;
  color:#470A73;
  
  }
  
  
}
@media(min-width:375px){
  .navbaar{
    top: 0px;
    left: 0px;
    height: auto;
    background: transparent linear-gradient(124deg, #7C1FBF 0%, #470A73 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .li{
  
    display: flex;
    gap: 15px;
    width: auto;
    flex-direction: column;
  }
  
  .any{
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
  }
  .log{
    
    border-style: solid;
    border-width: 0.5px;
  }
  .get{
  background-color: white;
  color:#470A73;
  }
  
  .any:hover{
    background-color: white;
  color:#470A73;
  
  }
  
  
}
@media(min-width:425px){
  .navbaar{
    top: 0px;
    left: 0px;
    height: auto;
    background: transparent linear-gradient(124deg, #7C1FBF 0%, #470A73 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .li{
  
    display: flex;
    gap: 15px;
    width: auto;
    flex-direction: column;
  }
  
  .any{
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
  }
  .log{
    
    border-style: solid;
    border-width: 0.5px;
  }
  .get{
  background-color: white;
  color:#470A73;
  }
  
  .any:hover{
    background-color: white;
  color:#470A73;
  
  }
  
  
}
@media(min-width:768px){
  .navbaar{
    top: 0px;
    left: 0px;
    height: auto;
    background: transparent linear-gradient(124deg, #7C1FBF 0%, #470A73 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .li{
  
  display: flex;
  gap: 15px;
  width: auto;
  flex-direction: column;
  }
  
  .any{
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
  }
  .log{
    
    border-style: solid;
    border-width: 0.5px;
  }
  .get{
  background-color: white;
  color:#470A73;
  }
  
  .any:hover{
    background-color: white;
  color:#470A73;
  
  }
  
  
}
@media(min-width:1024px){
  .navbaar{
    top: 0px;
    left: 0px;
    height: auto;
    background: transparent linear-gradient(124deg, #7C1FBF 0%, #470A73 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .li{
  
  display: flex;
  gap: 15px;
  width: auto;
  flex-direction: row;
  }
  
  .any{
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
  }
  .log{
    
    border-style: solid;
    border-width: 0.5px;
  }
  .get{
  background-color: white;
  color:#470A73;
  }
  
  .any:hover{
    background-color: white;
  color:#470A73;
  
  }
  
  
}

@media(min-width:1366px){
  .navbaar{
    top: 0px;
    left: 0px;
    height: auto;
    background: transparent linear-gradient(124deg, #7C1FBF 0%, #470A73 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .li{
  
  display: flex;
  gap: 40px;
  width: auto;
  flex-direction: row;
  }
  
  .any{
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
  }
  .log{
    
    border-style: solid;
    border-width: 0.5px;
  }
  .get{
  background-color: white;
  color:#470A73;
  }
  
  .any:hover{
    background-color: white;
  color:#470A73;
  
  }
  
  
}